@import "mixins";

$color-primary: #2196F3;
$color-primary-dark: #1565C0;
$content-offset: 45px;

.elevation-middle { @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.2)); }
.elevation-high { @include box-shadow(0 4px 10px rgba(0, 0, 0, 0.2)); }
.elevation-low { @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15)); }
.elevation-none { @include box-shadow(none); }

.hoverable {
	@include transition-duration(150ms);

	&:hover {
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.clear-after {
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}

body {
	margin-top: 0;
	background-color: #f9f9f9;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
	color: $color-primary-dark;
	font-weight: normal;
}

// Set content overlapping header
header {
	padding-bottom: $content-offset;
}
.content {
	margin-top: -$content-offset;
}

header {
	color: #fff;
	padding-bottom: $content-offset;
	background-color: $color-primary;

	.header-wrap {
		margin: 25px 0;
	}

	.logo-wrap {
		float: left;

		h1 {
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
			font-size: 35px;
			margin-left: 10px;
			margin-top: 12px;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
			color: #fff;
		}
		img {
			display: inline-block;
		}
	}
	.menu {
		padding-top: 14px;
		cursor: default;
		text-align: right;

		a {
			display: inline-block;
			color: #fff;
			margin: 0 2px;
			padding: 6px 11px;
			@include border-radius(2px);
			@include transition-duration(150ms);

			&:hover {
				text-decoration: none;
				background-color: rgba(0, 0, 0, 0.2);
			}

			i {
				font-size: 17px;
				margin: 0 4px 0 -4px;
				vertical-align: middle;
			}
		}

		@extend .clear-after;
	}
}

.content {
	margin-bottom: 15px;
	background-color: #fff;
	@extend .elevation-middle;
	@include border-radius(2px);
}

.mainContent {
	padding: 0 15px;

	@media screen and (max-width: 645px) {
		padding: 0 5px;
	}
}

.content-top {
	color: #fff;
	padding: 10px 20px;
	background: url('../img/bg.jpg') no-repeat left bottom;
	@include background-size(cover);
	@include border-radius(2px 2px 0 0);

	img.header-right {
		margin: 25px 0;
		max-width: 100%;
		@include border-radius(2px);
		@extend .elevation-high;
	}

	.slogan {
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
		font-size: 2em;
		margin-top: 15px;
		line-height: 30px;
	}
	.asterix {
		font-size: 0.8em;
		display: block;
		margin-top: 10px;
		color: rgba(255, 255, 255, 0.8);
	}
	.header-features {
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
		margin-top: 20px;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				font-size: 18px;
			}
		}
	}
}

.clear { clear: both; }

.button {
	@extend .hoverable;
	@include transition-duration(200ms);
	@include border-radius(2px);

	&:hover {
		color: inherit;
		text-decoration: none;
	}
	&:focus, &:active {
		outline: none;
		@include box-shadow(inset 0 1px 0 0 rgba(0,0,0,0.2));
	}

	&.button-elevated {
		@include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 0 rgba(0,0,0,0.2));

		&:hover {
			background: #eee;
			@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 0 rgba(0,0,0,0.2));
		}
		&:focus, &:active {
			background: #ddd;
			@include box-shadow(inset 0 1px 0 0 rgba(0, 0, 0, 0.2));
		}
	}
}

.gplay_container {
	.gplay {
		background-color: $color-primary;
		text-align: center;
	}
	.gplay_cont_fixed {
		position: fixed;
		top: 0;
		z-index: 2;
		@extend .elevation-middle;
	}
	.gplay_link {
		background-color: #fff;
		padding: 5px 16px;
		position: relative;
		display: inline-block;
		margin: 5px 12px;
		font-size: 17px;

		img {
			width: 48px;
			float: left;
			margin: 0 12px 0px -9px;
		}
	}
}

@media (min-width: 645px) {
	.gplay_container {
		height: 70px;
	}
	.gplay {
		height: 70px;
	}
}

.share {
	padding: 10px;
	width: 300px;
	max-width: 100%;
	margin: auto;

	ul li {
		display: inline-block;
		text-align: center;
		padding: 14px;
	}
}

p {
	text-align: justify;
	color: #555;
}

.steps {
	.step {
		margin-bottom: 20px;

		.round {
			float: left;
			width: 46px;
			height: 46px;
			color: #fff;
			font-size: 26px;
			line-height: 46px;
			text-align: center;
			overflow: hidden;
			@include border-radius(50%);
			@extend .elevation-middle;
		}
		.green { background-color: #0f9d58; }

		h3 {
			line-height: 26px;
			margin-left: 10px;
			margin-top: 10px;
			display: inline-block;
			color: inherit;
			letter-spacing: -1px;
			font-size: 21px;
		}

		.stepText {
			text-align: justify;
			margin-top: 10px;
			font-size: 13px;
		}
	}
}

.space {
	height: 32px;
}

.features {
	width: 100%;
	margin: auto;
	max-width: 810px;
	color: #555;

	thead {
		&, & tr {
			@include border-radius(2px 2px 0 0);
		}
		td:first-child { @include border-radius(2px 0 0 0); }
		td:last-child { @include border-radius(0 2px 0 0); }

		td {
			width: 33%;
			padding: 5px;
			text-align: center;
			color: #fff;
			font-size: 1.3em;
		}
	}
	tfoot {
		font-size: 0.9em;
		color: #fff;
		font-weight: bold;
		text-align: center;

		td {
			font-size: 1.3em;
			padding: 5px;
		}

		&, & tr {
			@include border-radius(0 0 2px 2px);
		}
		td:first-child { @include border-radius(0 0 0 2px); }
		td:last-child { @include border-radius(0 0 2px 0); }
	}
	thead, tfoot {
		background-color: $color-primary;
	}

	tbody {
		tr {
			&.ft_i { background-color: #F5F5F5; }

			td {
				text-align: center;
				border-right: 1px solid rgba(216, 216, 216, 0.9);

				&:first-child {
					text-align: left;
					border: 1px solid rgba(216, 216, 216, 0.9);
					border-width: 0 1px;
					font-size: 0.9em;
					padding: 8px 15px;
					vertical-align: middle;
				}
			}
		}
	}
}

.notice {
	font-size: 0.8em;
	color: #888;
	text-align: center;
}

.aside-img {
	float: right;
	width: 50%;
	margin-left: 15px;
	@include border-radius(2px);
	@extend .elevation-low;
}
@media screen and (max-width: 635px) {
	.aside-img {
		float: none;
		margin: auto;
		display: block;
	}
}
.translationNotice {
	float: right;
	margin-left: 10px;
}

.i18n_container {
	width: 300px;
	margin: 200px auto 0 auto;
}

.gitHubButtons {
	float: right;
	margin: 0 0 10px 20px;

	> iframe {
		width: 95px;
	}
}
